body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", BlinkMacSystemFont, system-ui, -apple-system;
}

.room {
  background-color: #E0E0E0;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  padding: 10px
}

p {
  font-family: "Roboto", BlinkMacSystemFont, system-ui, -apple-system;
  text-align: right;
}
